<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">view Work Types</h1>
    <button (click)="addWorkType()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-plus fa-sm text-white-50"></i> Add Work Type</button>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="text-dark">Name</th>
            <th scope="col" class="text-dark">Unit</th>
            <th scope="col" class="text-dark">Actions {{workTypesList}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let workType of workTypesList">
            <th scope="row">{{workTypesList.indexOf(workType) +1}}</th>
            <td class="text-primary">{{workType.name}}</td>
            <td class="text-primary">{{workType.unit?.name}}</td>
            <td>
                <button type="submit" (click)="onWorkTypeEdit(workType)" class="btn btn-info btn-circle">
                    <i class="fas fa-pen"></i>
                </button>
                &nbsp;
                <button class="btn btn-danger btn-circle">
                    <i class="fas fa-trash"></i>
                </button>
            </td>
    </tbody>
</table>