<!-- Page Heading-->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Designations</h1>
  <button
    (click)="navigativeToAddDesignation()"
    class="btn btn-secondary btn-align"
  >
    Add Designations
  </button>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="text-dark">Designation Name</th>
      <th scope="col" class="text-dark">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let designation of designationsList">
      <th scope="row">{{ designationsList.indexOf(designation) + 1 }}</th>
      <td class="text-primary">{{ designation.name }}</td>
      <td>
        <button
          type="submit"
          (click)="onDesignationEdit(designation)"
          class="btn btn-info btn-circle"
        >
          <i class="fas fa-pen"></i>
        </button>
        /
        <button type="submit" class="btn btn-danger btn-circle">
          <i class="fas fa-trash"></i>
        </button>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
