<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Edit Work Type</h1>
</div>
<form class="formContainer" [formGroup]="workTypeForm" (ngSubmit)="updateWorkType()">
    <div class="form-row row">
        <div class="form-group col-md-4">
            <label for="name" class="lead">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Work Type Name">
        </div>
        <div class="form-group col-md-4">
            <label for="unit" class="lead">Unit</label>
            <select id="unit" formControlName="unit" class="form-control">
                <option selected>Choose a unit...</option>
                <option *ngFor="let unitObj of unitsLit" [value]="unitObj._id">{{unitObj.name}}</option>
            </select>
        </div>
    </div>
    <button type="submit" [disabled]="workTypeForm.invalid" class="btn"
        [ngClass]="{'btn-primary':workTypeForm.valid}">Update</button>
</form>