<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Requistions List</h1>
    <button class="btn-primary" (click)="navigateToCreate()">Create Requistion</button>
  </div>
  <!-- 
    <div class="row">
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                >
                  Total Users
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">1</div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                >
                  Online Users
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">1</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-dark" scope="col">Status</th>
          <th  class="text-dark" scope="col">Date</th>
          <th  class="text-dark" scope="col">Created By</th>
          <th class="text-dark" scope="col">Camp</th>
           <th class="text-dark" scope="col">Description</th>
          <th  class="text-dark" scope="col">Item Details</th>
          <th  class="text-dark" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
      
      </tbody>
    </table>
