
 <!-- Page Heading -->
 <div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Units</h1>
  <button  (click)="navigativeToAddUnit()"  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add Unit</button>

</div>

<table class="table table-hover">
    <thead >
      <tr>
        <th scope="col">#</th>
        <th scope="col" class="text-dark">Unit Name</th>
        <th scope="col" class="text-dark">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor= "let unit of unitsList">
        <th scope="row">{{unitsList.indexOf(unit) +1}}</th>
        <td class="text-primary">{{unit.name}}</td>
        <td><button type="submit" (click)="onUnitEdit(unit)" class="btn btn-success" >Edit</button>
            / <button type="submit"  class="btn btn-danger" >Delete</button> <td> </tr>
    </tbody>
  </table>
