<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Items</h1>
  <button
    (click)="navigativeToAddItem()"
    class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"
  >
    <i class="fas fa-plus fa-sm text-white-50"></i> Add Item
  </button>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" class="text-dark">Item Name</th>
      <th scope="col" class="text-dark">Item Category</th>
      <th scope="col" class="text-dark">Unit</th>
      <th scope="col" class="text-dark">Item Code</th>
      <th scope="col" class="text-dark">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of itemsList">
      <th scope="row">{{ itemsList.indexOf(item) + 1 }}</th>
      <td class="text-primary">{{ item.name }}</td>
      <td class="text-primary">{{ item.itemCategory.name }}</td>
      <td class="text-primary">{{ item.unit.name }}</td>
      <td class="text-primary">{{ item.itemCode }}</td>
      <td>
        <button
          type="submit"
          (click)="onItemEdit(item)"
          class="btn btn-info btn-circle"
        >
          <i class="fas fa-pen"></i>
        </button>
        /
        <button type="submit" class="btn btn-danger btn-circle">
          <i class="fas fa-trash"></i>
        </button>
      </td>

      <td></td>
    </tr>
  </tbody>
</table>
