<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">
        <app-side-bar></app-side-bar>
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <app-nav-bar></app-nav-bar>
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <!--End main content-->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
      </a>

</body>