<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Caved</h1>
    <!-- <button class="btn-primary" (click)="navigateToUser()"> Edit User</button> -->
  </div>
  <!-- 
    <div class="row">
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                >
                  Total Users
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">1</div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
            <div class="row no-gutters align-items-center">
              <div class="col mr-2">
                <div
                  class="text-xs font-weight-bold text-primary text-uppercase mb-1"
                >
                  Online Users
                </div>
                <div class="h5 mb-0 font-weight-bold text-gray-800">1</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-dark" scope="col">Module Name</th>
          <th  class="text-dark" scope="col">Create</th>
          <th  class="text-dark" scope="col">Approval</th>
          <th class="text-dark" scope="col">View</th>
           <th class="text-dark" scope="col">Edit</th>
          <th  class="text-dark" scope="col">Delete</th>
          <th  class="text-dark" scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let module of modulesList">
          <td class="text-primary">{{module.name}}</td>
          <td ><tr *ngFor="let create of module.caved.create">
            <td>{{create.name}}</td>
        </tr></td>
        <td ><tr *ngFor="let approval of module.caved.approval">
          <td>{{approval.name}}</td>
      </tr></td>
      <td ><tr *ngFor="let view of module.caved.view">
        <td>{{view.name}}</td>
    </tr></td>
    <td ><tr *ngFor="let edit of module.caved.edit">
      <td>{{edit.name}}</td>
  </tr></td>
  <td ><tr *ngFor="let delete of module.caved.delete">
    <td>{{delete.name}}</td>
</tr></td>
<td ><h1 class="btn text-primary btn_icon" (click)="navigateToEditCaved(module)"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
  <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
</svg></h1></td>
        </tr>
      </tbody>
    </table>