
 <!-- Page Heading -->
 <!-- <div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Camps</h1>
  <button (click)="navigativeToAddCamp()"  class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Add Camp</button>

</div> -->

<app-component-label [lable]="lable" ></app-component-label>


  <table class="table table-hover">
    <thead>
      <tr>
        <th class="text-dark" scope="col">#</th>
        <th class="text-dark" scope="col">Name</th>
        <th  class="text-dark" scope="col">Status</th>
        <th  class="text-dark" scope="col">Project Name</th>
        <th  class="text-dark" scope="col">Address</th>
        <th  class="text-dark" scope="col">Start Date</th>
        <th  class="text-dark" scope="col">End Date</th>
        <th class="text-dark" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let camp of campList">
        <th scope="row">{{campList.indexOf(camp) + 1}}</th>
        <td class="text-primary">{{camp.name}}</td>
        <td class="text-primary">{{camp.status}}</td>
        <td>{{camp.project.name}}</td>
        <td>{{camp.address}}</td>
        <td [innerText]="getDateFromTimestamp(camp.startDate)"></td>
        <td [innerText]="getDateFromTimestamp(camp.endDate)"></td>
        <td><button type="submit" (click)="onCampEdit(camp)" class="btn btn-primary" >Edit</button><td>
      </tr>
    </tbody>
  </table>
