 <!-- Page Heading -->
 <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Add Designation</h1>
   
  </div>
<form class="formContainer" [formGroup]="designationForm" (ngSubmit)="onSubmit()">
    <div class="form-row row">
        <div class="form-group col-md-4">
      <label for="DesignationName" class="lead" >Designation Name</label>
      <input type="text" class="form-control" id="Name"  formControlName="designationName" placeholder="   Name">
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Sumbit</button>
</form>
