
 <!-- Page Heading -->
 <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Add Unit</h1>
  
  </div>
<form class="formContainer" [formGroup]="unitForm" (ngSubmit)="onSubmit()">
    <div class="form-row row">
        <div class="form-group col-md-4">
      <label for="UnitName" class="lead" >Unit Name</label>
      <input type="text" class="form-control" id="Name"  formControlName="unitName" placeholder="   Name">
    </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

